/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body,td,th 
{
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #330000;
}
#wrapper {
  margin: 0 auto;
  width 922px;
}
#login_bar {
  width: 900px;
  float: left;
  padding: 10px;
  height: 20px;
  margin: 10px 0px 5px 0px;
}
#content
{
  margin: 5px 5px 5px 5px;
  padding: 10px;
  width: 900px;
  float: left;
}
